@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

.App {
  text-align: center;
  font-family: Montserrat;
  -ms-overflow-style: none;
  /* overflow-x: hidden; */
}
.App::-webkit-scrollbar {
  -webkit-appearance: none;
}

body {
  background-color: black;
  /* overflow-x: hidden; */
  overflow: hidden; /* Hide scrollbars */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-heading {
  color: white;
  text-align: left;
  /* margin-top: 30px !important; */
  width: 350px;
  /* display: block; */
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
}

.card-subheading {
  color: white;
  text-align: left;
  /* margin-top: 30px !important; */
  width: 350px;
  /* display: block; */
  margin: auto;
  position: absolute;
  font-size: 14px;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
}

.all-cards-container {
  height: 65vh;
  z-index: 100;
}