@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');


@media screen and (min-width: 400px) {
  .App {
    text-align: center;
    font-family: Montserrat;
    -ms-overflow-style: none;
    /* overflow-x: hidden; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black !important;
  }

  .App-desktop {
    text-align: center;
    font-family: Montserrat;
    -ms-overflow-style: none;
    width: 325px;
    height: 685px;
    overflow: hidden;
    /* overflow-x: hidden; */
    display: inline-block;
    border-radius: 35px;
    position: relative;
    margin-right: 20px;
    margin-top: 15px;
  }

  .iPhoneX-layout {
    position: absolute;
    width: 368px;
    height: 747px;
    margin-left: -21px;
  }

  .App::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  body {
    background-color: black;
    /* overflow-x: hidden; */
    overflow: hidden; /* Hide scrollbars */
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .card-heading {
    color: white;
    text-align: left;
    /* margin-top: 30px !important; */
    width: 350px;
    display: block;
    margin: auto;
    top: 20px;
    z-index: 0;
    position: absolute;
    margin-left: 10px;
  }

  .card-subheading {
    color: white;
    text-align: left;
    /* margin-top: 30px !important; */
    width: 350px;
    display: block;
    margin: auto;
    font-size: 14px;
    top: 40px;
    z-index: 0;
    position: absolute;
    margin-left: 10px;
  }

  .all-cards-container {
    height: 480px;
    z-index: 100;
  }

}

@media screen and (max-width: 399px) {
  .App {
    text-align: center;
    font-family: Montserrat;
    -ms-overflow-style: none;
    color: black !important;
    /* overflow-x: hidden; */
  }

  .App-desktop {
    text-align: center;
    font-family: Montserrat;
    -ms-overflow-style: none;
    /* overflow-x: hidden; */
  }
  .App::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  body {
    background-color: black;
    /* overflow-x: hidden; */
    overflow: hidden; /* Hide scrollbars */
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .iPhoneX-layout {
    display: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .card-heading {
    color: white;
    text-align: left;
    /* margin-top: 30px !important; */
    width: 350px;
    /* display: block; */
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
  }
  
  .card-subheading {
    color: white;
    text-align: left;
    /* margin-top: 30px !important; */
    width: 350px;
    /* display: block; */
    margin: auto;
    position: absolute;
    font-size: 14px;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
  }
  
  .all-cards-container {
    height: 500px;
    z-index: 100;
  }
}

.DigitRoll {
  font-size: 30px !important;
  /* color: white; */
  width: 100% !important;
  margin-right: 0px !important;
  border: none;
  overflow:hidden;
  border: none !important;
}
 
.DigitRoll__Cell {
  /* background: salmon;
  margin: 0 3px;
  border: 1px solid brown; */
  width: 2px;
}

.DigitRoll__Slice {
  width: 20px;
}
 
.DigitRoll__Divider {
  font-size: 25px;
  color: black;
  padding: 0 5px;
}

/*** Start Screen Styles ***/

.startScreen-container {
  width: 100vw;
  height: 100vh;
}

.box {
  background: rgb(139, 139, 139);
  border-radius: 50px;
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: pointer;
  top: calc(50% - 150px / 2);
  left: calc(50% - 90px / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.startScreen-container .drag-area {
  opacity: 0.2;
  background: white;
  position: absolute;
  width: 250px;
  height: 100px;
  border-radius: 40px;
  top: calc(50% - 150px / 2);
  left: calc(50% - 120px);
}

.startScreen-header {
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  top: calc(50% - 300px / 2);
  left: calc(50% - 100px);
}

.startScreen-dark {
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  top: calc(50% - 105px / 2);
  left: calc(50% + 160px);
}

.startScreen-light {
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  top: calc(50% - 105px / 2);
  left: calc(50% - 200px);
}

.startScreen-button-dark {
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  padding: 10px 30px;
  top: calc(50% + 55px);
  left: calc(50% - 40px);
  box-shadow: inset 1px 1px 10px #aaa, 1px 1px 10px #aaa;
  border: none;
  color: white;
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s all;
}

.startScreen-button-light {
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  padding: 10px 30px;
  top: calc(50% + 55px);
  left: calc(50% - 40px);
  box-shadow: inset 1px 1px 10px #aaa, 1px 1px 10px #aaa;
  border: none;
  color: black;
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s all;
}

.startScreen-button-dark:hover {
  transform: scale(1.1);
  background: white;
  color: black
}

.startScreen-button-light:hover {
  transform: scale(1.1);
  background: rgb(121, 121, 121);
  color: white;
}

/* For Start screen Input */
.startScreen-name-header {
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  top: calc(50% - 220px / 2);
  left: calc(50% - 320px);
}

.startScreen-input {
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  padding: 10px 10px;
  top: calc(50% - 40px);
  left: calc(50% - 100px);
  border: none;
  background: transparent;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.startScreen-name-button-dark {
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  padding: 10px 30px;
  top: calc(50% + 30px);
  left: calc(50% - 41px);
  border: none;
  background: transparent;
  box-shadow: inset 1px 1px 10px #aaa, 1px 1px 10px #aaa;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s all;
}

.startScreen-name-button-light {
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  padding: 10px 30px;
  top: calc(50% + 30px);
  left: calc(50% - 41px);
  border: none;
  background: transparent;
  box-shadow: inset 1px 1px 10px #aaa, 1px 1px 10px #aaa;
  color: black;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s all;
}

.startScreen-name-button-dark:hover {
  transform: scale(1.1);
  background: white;
  color: black;
}
.startScreen-name-button-light:hover {
  transform: scale(1.1);
  background: black;
  color: white;
}

.input-dark, .input-light {
  transition: .3s all;
}

.input-dark:focus,
.input-dark:focus-visible {
  box-shadow: inset 1px 1px 10px white, 1px 1px 10px white;
  color: black !important;
  background: white !important;
  outline:none;
}

.input-light:focus,
.input-light:focus-visible {
  box-shadow: inset 1px 1px 10px black, 1px 1px 10px black;
  outline:none;
}

/* .cardHeader-onScroll {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  text-align: center;
  width: 100%;
  box-shadow: 1px 1px 10px rgb(90, 90, 90);
  z-index: 100000;
}

.cardHeader-onScroll h3 {
  font-weight: 400;
  font-size: 22px;
} */